body {
    background-color: black;
    max-width: 100%;
}

#content {
    min-height: 280vh;
    border: solid 1px black;
    margin: 50px 110px;
    background-color: burlywood;
    width: max-content;
}

p {
    text-align: center;
}

.head {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: crimson;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: solid 1px black;
}

#midname {
    text-align: center;
}

.table1,
.table2 {
    border-collapse: collapse;
}

.table1 td,
tr {
    border: solid black 1px;
}

.table2 td,
tr {
    border: solid 1px black;
}

.asterisk {
    color: red;
    font-weight: bold;
}

.blue {
    color: blue;
    font-weight: normal;
}

.fatname {
    margin-left: 10px;
}

td .underline {
    text-decoration: underline;
}

.submit {
    text-align: center;
}

.table1 .bd {
    border-right: none;
    border-left: none;
}

td {
    font-weight: bold;
    font-size: small;
}

.shrink {
    margin-left: 60px;
}

.alter {
    margin-left: 270px;
}

.alterm {
    margin-left: 230px;
}

.alterz {
    margin-left: 150px;
}

.file {
    border: none;
    background-color: burlywood;
}

.t2 {
    padding: 0;
}

tr:hover {
    background-color: slategray;
}