body {
    background-color: black;
}

#content {
    min-height: 280vh;
    border: solid 1px black;
    margin: 50px 110px;
    background-color: burlywood;
    max-width: 1020px;
}

p {
    text-align: center;
}

.head {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: crimson;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: solid 1px black;
}

#midname {
    text-align: center;
}

.table1,
.table2 {
    border-collapse: collapse;
}

.table1 td,
tr {
    border: solid black 1px;
}

.table2 td,
tr {
    border: solid 1px black;
}

.asterisk {
    color: red;
    font-weight: bold;
}

.blue {
    color: blue;
    font-weight: normal;
}

td .underline {
    text-decoration: underline;
}

.submit {
    text-align: center;
}

.table1 .bd {
    border-right: none;
    border-left: none;
}